@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: 'Inter';
}

@layer base {
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  ul, ol {
    list-style: revert;
  }
}